.button{
   color: white;
   background: $blue;
   border:none;
   display:inline-block;
   line-height: 1;
   text-decoration: none;
   font-weight: 300;
   font-size:$font-size-large;
   padding: $s-size;
}

.button--link {
   background: none;
}

.button--secondary {
   background:$grey;
}